# Smart git alias; `g` does `git status` and adding arguments will change it to `git <arguments>`
alias g='_f() { if [[ $# == 0 ]]; then git status --short --branch; else git "$@"; fi }; _f'
alias grm='git rebase -i main'
alias grr='git rebase -i --root'

# Vim shortcuts
alias vi=lvim
alias vimconfig="lvim ~/.config/lvim/config.lua"

# Confirm unsafe file operations
alias cp='/bin/cp -i'
alias mv='/bin/mv -i'
alias rm='/bin/rm -i'

# Use dots to navigate back, and use `--` to navigate to previous directory
alias -- -='cd -'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# Directory listing
alias ls='ls --color=auto'
alias l="ls -lF --color --classify --human-readable"
alias ll="ls -l --color --human-readable --group-directories-first"
alias lla="ls -la --color --human-readable --group-directories-first"
alias lls='ls -la --color --sort=size'
alias llt='ls -la --color --sort=time'
alias lsd="ls -laF --color | grep --color=never '^d'" # List only dirs

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
