// Add your own CSS here!
:root {
  font-size: 100%;
}

:root {
  --font-header: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
  --font-body: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
  --font-mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  --bg-width: 1000px;
  --bg-height: 560px;
  --page-width: clamp(40ch, 85vw, 80ch);
  --page-height: max((100vh - (100vw - var(--page-width))), 90vh);

  @media (min-aspect-ratio: 500/280) {
    --bg-height: auto;
    @media (min-width: 1000px) {
      --bg-width: 2000px;
    }
    @media (min-width: 2000px) {
      --bg-width: 3000px;
    }
    @media (min-width: 3000px) {
      --bg-width: 4000px;
    }
    @media (min-width: 4000px) {
      --bg-width: 100%
    }
  }
  @media (max-aspect-ratio: 500/280) {
    --bg-width: auto;
    @media (min-height: 560px) {
      --bg-height: 1120px;
    }
    @media (min-height: 1120px) {
      --bg-height: 1680px;
    }
    @media (min-height: 1680px) {
      --bg-height: 2240px;
    }
    @media (min-height: 2240px) {
      --bg-height: 100%;
    }
  }
}

// Color palette is from here: https://coolors.co/palette/ffcdb2-ffb4a2-e5989b-b5838d-6d6875
// ~ Apricot:          #FFCDB2
// ~ Melon:            #FFB4A2
// ~ Pastel Pink:      #E5989B
// ~ English Lavender: #B5838D
// ~ Old Lavender:     #6D6875
:root {
  --light: #FFCDB1;
  --dark: #6D6875;
  --secondary: #B5838D;
  --tertiary: #E5989B;
  --visited: #E5989B;
  --primary: #FFB4A2;
  --gray: #6D6875;
  --lightgray: #FFC1AA;
  --outlinegray: #B5838D;
  --million-progress-bar-color: var(--secondary);
  --highlighted:  #6D687588;
  --background: url("backgrounds/light.gif");
  --bg-pos-x: right;
  --bg-pos-y: top;
}

[saved-theme="dark"] {
  --light: #6D6875 !important;
  --dark: #FFCDB1 !important;
  --secondary: #E5989B !important;
  --visited: #FFB4A2  !important;
  --tertiary: #FFB4A2 !important;
  --primary: #B5838D !important;
  --gray: #FFCDB1 !important;
  --lightgray: #7F6F7B !important;
  --outlinegray: #E5989B !important;
  --highlighted: #FFCDB188;
  --background: url("backgrounds/dark.gif");
  --bg-pos-x: left;
  --bg-pos-y: bottom;
}

/* CRT EFFECT
 * This effect was taken and adapted from this link;
 * http://aleclownes.com/2017/02/01/crt-display.html */
body::before {
	content: " ";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
	z-index: 1000;
	background-size: 100% 2px, 3px 100%;
	pointer-events: none;
}
/* END CRT EFFECT */

body {
  background-attachment: fixed;
  background-color: var(--dark);
  background-image: var(--background);
  background-position-x: var(--bg-pos-x);
  background-position-y: var(--bg-pos-y);
  background-repeat: no-repeat;
	background-size: var(--bg-width) var(--bg-height);
  image-rendering: pixelated;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 110%;
}

.singlePage {
  position: relative;
  background: var(--light);
  width: var(--page-width);
  height: var(--page-height);
  max-width: 100vw;
  max-height: 99vh;
  padding: 0;
  overflow: auto;
  scrollbar-width: none;
  border-radius: 1ch;
  border: 2px solid var(--secondary);
  font-family: var(--font-mono);

  &::before {
    z-index: 2;
    position: fixed;
    box-sizing: border-box;
    padding: 0ch 1ch 0.25em 2ch;
    width: var(--page-width);
    max-width: 99vw;
    content: "Puppy Brained" " " "▤ ▣ ▩";
    color: var(--light);
    font-weight: bold;
    text-align-last: justify;
    text-justify: inter-word;
    box-shadow: inset 0 1.7em 0 0 var(--secondary);
    border-radius: 0.5ch 0.5ch 0 0;
  }
}

header, article, .page-end, footer {
  margin: 0 2.5vw;
}

header {
  margin-top: 3em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

article > p > a:not(.internal-link)::after {
  mask: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-icon='quote-right' class='svg-inline--fa-solid fa-arrow-up-right-from-square' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z'%3E%3C/path%3E%3C/svg%3E");
  background-color: var(--secondary);
  display: inline-block;
  content: '';
  height: 0.8rem;
  width: 0.8rem;
  margin-left: 0.2rem;
  margin-right: 0.1rem;
}

@media all and (max-width:608px) {
  .spacer {
    visibility: collapse;
  }
}
