// Add your own CSS here!
:root {
  font-size: 100%;
}

:root {
  --font-header: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
  --font-body: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
  // --font-body: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  --font-mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  --bg-width: 1000px;
  --bg-height: 560px;
  @media (min-aspect-ratio: 500/280) {
    --bg-height: auto;
    @media (min-width: 1000px) {
      --bg-width: 2000px;
    }
    @media (min-width: 2000px) {
      --bg-width: 3000px;
    }
    @media (min-width: 3000px) {
      --bg-width: 4000px;
    }
    @media (min-width: 4000px) {
      --bg-width: 100%
    }
  }
  @media (max-aspect-ratio: 500/280) {
    --bg-width: auto;
    @media (min-height: 560px) {
      --bg-height: 1120px;
    }
    @media (min-height: 1120px) {
      --bg-height: 1680px;
    }
    @media (min-height: 1680px) {
      --bg-height: 2240px;
    }
    @media (min-height: 2240px) {
      --bg-height: 100%;
    }
  }
}

// Color palette is from here: https://coolors.co/palette/ffcdb2-ffb4a2-e5989b-b5838d-6d6875
// ~ Apricot:          #FFCDB2
// ~ Melon:            #FFB4A2
// ~ Pastel Pink:      #E5989B
// ~ English Lavender: #B5838D
// ~ Old Lavender:     #6D6875
:root {
  --light: #FFCDB1;
  --dark: #6D6875;
  --secondary: #B5838D;
  --tertiary: #E5989B;
  --visited: #E5989B;
  --primary: #FFB4A2;
  --gray: #6D6875;
  --lightgray: #FFC1AA;
  --outlinegray: #B5838D;
  --million-progress-bar-color: var(--secondary);
  --highlighted:  #6D687588;
  --background: url("backgrounds/light.gif");
  --bg-pos-x: center;
  --bg-pos-y: center;
}

[saved-theme="dark"] {
  --light: #6D6875 !important;
  --dark: #FFCDB1 !important;
  --secondary: #E5989B !important;
  --visited: #FFB4A2  !important;
  --tertiary: #FFB4A2 !important;
  --primary: #B5838D !important;
  --gray: #FFCDB1 !important;
  --lightgray: #7F6F7B !important;
  --outlinegray: #E5989B !important;
  --highlighted: #FFCDB188;
  --background: url("backgrounds/dark.gif");
  --bg-pos-x: left;
  --bg-pos-y: bottom;
}

/* CRT EFFECT
 * This effect was taken and adapted from this link;
 * http://aleclownes.com/2017/02/01/crt-display.html */
body::before {
	content: " ";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
	z-index: 3;
	background-size: 100% 2px, 3px 100%;
	pointer-events: none;
}
/* END CRT EFFECT */

body {
  background-attachment: fixed;
  background-color: var(--dark);
  background-image: var(--background);
  background-position-x: var(--bg-pos-x);
  background-position-y: var(--bg-pos-y);
  background-repeat: no-repeat;
	background-size: var(--bg-width) var(--bg-height);
  image-rendering: pixelated;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 110%;
}

.singlePage {
  position: relative;
  background: var(--light);
  width: 85vw;
  max-width: 80ch;
  height: 85vh;
  padding: 0;
  overflow: auto;
  scrollbar-gutter: both-edge;
  border-radius: 1ch;
  border: 2px solid var(--secondary);
  font-family: var(--font-mono);
}

.singlePage::before {
  z-index: 2;
  position: fixed;
  box-sizing: border-box;
  padding: 0ch 1ch 0.25em 2ch;
  width: 85vw;
  max-width: 80ch;
	content: "Puppy_Brained" " " "▤_▣_▩";
	color: var(--light);
  font-weight: bold;
  text-align-last: justify;
  text-justify: inter-word;
  box-shadow: inset 0 1.7em 0 0 var(--secondary);
  border-radius: 0.5ch 0.5ch 0 0;
}

header, article, .page-end, footer {
  margin: 0 2.5vw;
}

header {
  margin-top: 3em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media all and (max-width:608px) {
  .spacer {
    visibility: collapse;
  }
}
